#ourCustomers{
    padding-top: 80px;
    padding-bottom: 60px;
    h3{
        margin-bottom: 20px;
    }
    .carousel{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        //test
        //margin-top: 50px;//100 mas grande
        // margin: 0 60px;no
        // padding-top: 10px;
        //background-color: rgba(26, 24, 24, 0.365);
        .btnArrow{
            position: absolute;
            z-index: 100;
            width: 45px;
            height: 55px;
            border: 0;
            font-size: 2rem;
            color: rgba(102, 133, 92, 0.653);
            cursor: pointer;
            //test
            // border-radius: 30px;
            //background: rgba(0, 0, 0, 0.475);
        }
        .prev{ //btn row
            left: -15px;
        }
        .next{ //btn-row
            right: -15px;
        }
        .car__container{
            position: relative;//no se para que este, para los btns
            display: flex;
            align-items: center;
            overflow: hidden;
            margin: 0 20px;
            //test
            // width: fit-content;// la caga en el cell
            //margin: 0 auto;// revisar si es necesario
            //colocar un max-width 90vw
            //border: 3px solid blue;
            // height: 300px;
            .list-container{
                position: relative;
                top: 0;
                left: 0;
                transition: .5s ease-in-out;
                display: flex;
                //test
                // justify-content: center;
                //border: 5px solid rgb(235, 44, 44);
                .list{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    font-weight: 500;
                    line-height: 1.8;
                    //test
                    width: 77vw;
                    padding:0 20px;
                    // float: left;
                    // min-width: 220px;
                    // border-left: 1.5px solid black;
                    // border-right: 1px solid greenyellow;
                    // background-color: rgba(220, 20, 60, 0.55);
                    // height: 500px;
                    p{
                        i{
                            font-size: 2rem;
                            display: block;
                            margin-bottom: 15px;
                            text-align: start;
                        }
                        span{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
@media screen and(min-width:400px){
    #ourCustomers{
        .carousel{
            .btnArrow{
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background: rgba(128, 123, 123, 0.858);
            }
            .prev{ //btn row
                left: 0;
            }
            .next{ //btn-row
                right: 0;
            }
            // .car__container{
            //     .list-container{
            //         .list{
            //         }
            //     }
            // }
        }
    }
}
// @media screen and(min-width:700px){
//     #ourCustomers{
//         .carousel{
//             .car__container{
//                 .list-container{
//                     .list{
//                         width: 93vw;
//                     }
//                 }
//             }
//         }
//     }
//}

@media screen and(min-width:1024px){
    #ourCustomers{
        padding-bottom: 100px;
        h3{
            margin-bottom: 70px;
        }
        .carousel{

            .btnArrow{


            }
            .prev{ //btn row

            }
            .next{ //btn-row
            }
            .car__container{

                .list-container{

                    .list{
                        width: 40vw;
                        p{
                            i{
                            }
                            span{
                            }
                        }
                    }
                }
            }
        }
    }

}
