.centerItems, #menu div.menu__icon, #menu div.menu__logo {
  display: grid;
  place-items: center;
}

#menu {
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  min-width: 320px;
  max-width: 1400px;
  height: 60px;
  padding: 0 1rem;
  transition: all 0.5s linear;
  background-color: rgba(0, 0, 0, 0.705);
}

#menu div.menu__logo {
  width: 120px;
  margin-left: 7px;
  background-color: #dfd5d5;
}
#menu div.menu__logo img {
  width: 100%;
}

#menu div.menu__icon {
  background-color: #706c6c;
  width: 50px;
}
#menu div.menu__icon i#iconOpenMenu {
  color: rgba(255, 255, 255, 0.9);
}

#menu div#menu__container {
  position: absolute;
  right: -100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s linear;
  background-color: #202723;
}
#menu div#menu__container i#iconCloseMenu {
  color: rgba(255, 255, 255, 0.9);
  align-self: flex-end;
}

#menu div#menu__container > ul {
  list-style-type: none;
  margin: 3.5rem 0;
  cursor: pointer;
}
#menu div#menu__container > ul li {
  margin: 15px 0;
}
#menu div#menu__container > ul li a {
  color: inherit;
  text-decoration: none;
}

#menu div#menu__container > div.socialNetwork {
  color: rgba(255, 255, 255, 0.9);
  padding: 20px 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.9);
}
#menu div#menu__container > div.socialNetwork i {
  margin: 0.5rem;
}

.menuScrollUp {
  transform: translateY(-60px);
  background-color: rgba(0, 0, 0, 0.705);
}

@media only screen and (min-width: 1024px) {
  #menu div.menu__icon {
    display: none;
  }

  #menu div#menu__container {
    left: 0;
    position: initial;
    flex-direction: row;
    width: auto;
    height: 100%;
    background-color: transparent;
  }
  #menu div#menu__container i#iconCloseMenu {
    display: none;
  }

  #menu div#menu__container > ul {
    margin: 0 1rem;
  }
  #menu div#menu__container > ul li {
    margin: 0 5px;
    display: inline;
  }

  #menu div#menu__container > div.socialNetwork {
    margin: 0;
    padding: 0;
    border-top: none;
  }
}
@keyframes floating {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
#about {
  background-color: #e77c7c;
}

#services {
  background-color: blanchedalmond;
}
#services .card {
  border: 1px solid palevioletred;
  margin-bottom: 15px;
  min-width: 200px;
  height: 100px;
}

#contact {
  background-color: white;
}

#location {
  background-color: pink;
  height: 120px;
}

#ourCustomers {
  padding-bottom: 60px;
}
#ourCustomers .carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
#ourCustomers .carousel .btnArrow {
  position: absolute;
  z-index: 100;
  width: 45px;
  height: 55px;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  color: rgba(102, 133, 92, 0.653);
  background: transparent;
}
#ourCustomers .carousel .prev {
  left: -15px;
}
#ourCustomers .carousel .next {
  right: -15px;
}
#ourCustomers .carousel .car__container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
#ourCustomers .carousel .car__container .list-container {
  position: relative;
  top: 0px;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
}
#ourCustomers .carousel .car__container .list-container .list {
  width: 85vw;
  float: left;
  display: flex;
  flex-direction: column;
  padding: 0 13px;
  justify-content: center;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
}
#ourCustomers .carousel .car__container .list-container .list p i {
  font-size: 2rem;
  display: block;
  margin-bottom: 15px;
}
#ourCustomers .carousel .car__container .list-container .list p span {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 1.3rem;
  min-width: 320px;
  background-color: #fcfafa;
  background-image: url("https://static.wixstatic.com/media/1a5b34_d65ccec864514993a1b755ec1c208cc2~mv2.png/v1/fill/w_1508,h_1457,al_t,q_95,usm_0.66_1.00_0.01/1a5b34_d65ccec864514993a1b755ec1c208cc2~mv2.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.sec {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 50px;
  line-height: 1.6;
}

h3 {
  margin-bottom: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-color: white;
}
footer .logo {
  width: 80%;
  background-color: #3f0f3f;
}
footer .logo img {
  width: 100%;
}
footer .contact {
  background-color: violet;
  text-align: center;
  margin: 15px 0;
  padding: 17px 0;
}
footer .contact i {
  font-size: 2.3rem;
  margin-bottom: 15px;
  margin-right: 10px;
}
footer .contact p {
  margin-top: 8px;
}
footer > span {
  font-size: 1rem;
}

section.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white;
  background-color: white;
  padding-bottom: 2rem;
  background-image: url("https://images.pexels.com/photos/6628486/pexels-photo-6628486.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-position: center center;
  background-size: cover;
}
section.banner h2 {
  background-color: violet;
  text-align: center;
  margin-bottom: 6rem;
}
section.banner i {
  font-size: 2rem;
  animation: floating 1s alternate infinite;
}

/*# sourceMappingURL=styles.css.map */
