@import './menu.scss';
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Raleway, sans-serif;
    background-image:url('../assets/image/blue-snow.png');
    //background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 200px;
}
