.centerItems, #menu div.menu__icon, #menu div.menu__logo {
  display: grid;
  place-items: center;
}

#menu {
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  min-width: 320px;
  max-width: 1400px;
  height: 60px;
  padding: 0 1rem;
  transition: all 0.5s linear;
  background-color: rgba(0, 0, 0, 0.705);
}

#menu div.menu__logo {
  width: 120px;
  margin-left: 7px;
  background-color: #dfd5d5;
}
#menu div.menu__logo img {
  width: 100%;
}

#menu div.menu__icon {
  background-color: #706c6c;
  width: 50px;
}
#menu div.menu__icon i#iconOpenMenu {
  color: rgba(255, 255, 255, 0.9);
}

#menu div#menu__container {
  position: absolute;
  right: -100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s linear;
  background-color: #202723;
}
#menu div#menu__container i#iconCloseMenu {
  color: rgba(255, 255, 255, 0.9);
  align-self: flex-end;
}

#menu div#menu__container > ul {
  list-style-type: none;
  margin: 3.5rem 0;
  cursor: pointer;
}
#menu div#menu__container > ul li {
  margin: 15px 0;
}
#menu div#menu__container > ul li a {
  color: inherit;
  text-decoration: none;
}

#menu div#menu__container > div.socialNetwork {
  color: rgba(255, 255, 255, 0.9);
  padding: 20px 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.9);
}
#menu div#menu__container > div.socialNetwork i {
  margin: 0.5rem;
}

.menuScrollUp {
  transform: translateY(-60px);
  background-color: rgba(0, 0, 0, 0.705);
}

@media only screen and (min-width: 1024px) {
  #menu div.menu__icon {
    display: none;
  }

  #menu div#menu__container {
    left: 0;
    position: initial;
    flex-direction: row;
    width: auto;
    height: 100%;
    background-color: transparent;
  }
  #menu div#menu__container i#iconCloseMenu {
    display: none;
  }

  #menu div#menu__container > ul {
    margin: 0 1rem;
  }
  #menu div#menu__container > ul li {
    margin: 0 5px;
    display: inline;
  }

  #menu div#menu__container > div.socialNetwork {
    margin: 0;
    padding: 0;
    border-top: none;
  }
}
@keyframes floating {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
#about {
  background-color: #edf5f0;
}

#services {
  background-color: white;
}
#services .card {
  width: 100%;
  max-width: 500px;
  background-color: #0f3616;
}
#services .card .card__img img {
  width: 100%;
}
#services .card .card__description {
  position: relative;
  top: -100px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(24, 44, 32, 0.495);
}
#services .card .card__description h4 {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 16px;
}
#services .card .card__description p {
  margin-bottom: 16px;
}
#services .card .card__description ul {
  list-style: none;
  margin-bottom: 16px;
}
#services .card .card__description button {
  padding: 15px;
}

@media only screen and (min-width: 500px) {
  #services .card {
    margin: 0 auto;
    background-color: paleturquoise;
  }
}
@media only screen and (min-width: 680px) {
  #services .right {
    position: relative;
    left: calc(100% - 500px);
  }
  #services .card {
    margin: 0;
    background-color: rgba(58, 12, 37, 0.817);
  }
}
@media only screen and (min-width: 1024px) {
  #services .card {
    background-color: rgba(23, 109, 49, 0.817);
  }
}
#contact {
  background-color: white;
}
#contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact .container button {
  padding: 15px;
  margin-bottom: 16px;
  border-radius: 12px;
  border-style: none;
  font-size: 1.3rem;
  color: #075E54;
  background-color: #25D366;
}
#contact .container button i {
  margin-right: 5px;
  color: white;
}
#contact .container form.contact__form {
  width: 80%;
  margin-top: 16px;
}
#contact .container form.contact__form h4 {
  margin-bottom: 16px;
  font-weight: 400;
}
#contact .container form.contact__form p {
  margin-bottom: 16px;
}
#contact .container form.contact__form p input, #contact .container form.contact__form p textarea {
  height: 35px;
  width: 100%;
  display: block;
  border-radius: 5px;
  border-style: none;
  border: 1px solid green;
}
#contact .container form.contact__form p textarea {
  min-height: 70px;
}
#contact .container form.contact__form p .form_btn {
  margin: 16px auto;
  width: 100px;
  height: 40px;
}

@media only screen and (min-width: 500px) {
  form.contact__form {
    max-width: 70%;
  }
}
@media only screen and (min-width: 1024px) {
  #contact .container {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  #contact .container form.contact__form {
    max-width: 40%;
  }
}
#location {
  background-color: #f3f2f2;
  height: auto;
  width: 100%;
  overflow: hidden;
}
#location h3 {
  text-align: center;
  margin: 20px 0;
}
#location .map iframe {
  width: 100%;
}

#ourCustomers {
  padding-top: 80px;
  padding-bottom: 60px;
}
#ourCustomers h3 {
  margin-bottom: 20px;
}
#ourCustomers .carousel {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
#ourCustomers .carousel .btnArrow {
  position: absolute;
  z-index: 100;
  width: 45px;
  height: 55px;
  border: 0;
  font-size: 2rem;
  color: rgba(102, 133, 92, 0.653);
  cursor: pointer;
}
#ourCustomers .carousel .prev {
  left: -15px;
}
#ourCustomers .carousel .next {
  right: -15px;
}
#ourCustomers .carousel .car__container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0 20px;
}
#ourCustomers .carousel .car__container .list-container {
  position: relative;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
  display: flex;
}
#ourCustomers .carousel .car__container .list-container .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  line-height: 1.8;
  width: 77vw;
  padding: 0 20px;
}
#ourCustomers .carousel .car__container .list-container .list p i {
  font-size: 2rem;
  display: block;
  margin-bottom: 15px;
  text-align: start;
}
#ourCustomers .carousel .car__container .list-container .list p span {
  display: block;
}

@media screen and (min-width: 400px) {
  #ourCustomers .carousel .btnArrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(128, 123, 123, 0.858);
  }
  #ourCustomers .carousel .prev {
    left: 0;
  }
  #ourCustomers .carousel .next {
    right: 0;
  }
}
@media screen and (min-width: 1024px) {
  #ourCustomers {
    padding-bottom: 100px;
  }
  #ourCustomers h3 {
    margin-bottom: 70px;
  }
  #ourCustomers .carousel .car__container .list-container .list {
    width: 40vw;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 1.3rem;
  min-width: 320px;
  background-color: #fcfafa;
  background-image: url("https://static.wixstatic.com/media/1a5b34_d65ccec864514993a1b755ec1c208cc2~mv2.png/v1/fill/w_1508,h_1457,al_t,q_95,usm_0.66_1.00_0.01/1a5b34_d65ccec864514993a1b755ec1c208cc2~mv2.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.sec {
  padding: 35px 20px;
  line-height: 1.6;
}
.sec h3 {
  text-align: center;
  margin-bottom: 45px;
}

footer {
  padding: 30px 20px;
  background-color: rgba(122, 216, 141, 0.968);
}
footer .container .logo {
  min-width: 280px;
  max-width: 50%;
  margin: 20px auto;
}
footer .container .logo img {
  width: 100%;
}
footer .container .contact {
  text-align: center;
  padding: 17px 0;
}
footer .container .contact i {
  font-size: 2.3rem;
  margin-bottom: 35px;
  margin-right: 10px;
}
footer .container .contact p {
  margin-bottom: 20px;
}
footer > span {
  display: block;
  font-size: 1.2rem;
  text-align: center;
}

section.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white;
  background-color: white;
  padding-bottom: 2rem;
  background-image: url("https://images.pexels.com/photos/6628486/pexels-photo-6628486.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-position: center center;
  background-size: cover;
}
section.banner h2 {
  background-color: violet;
  text-align: center;
  margin-bottom: 6rem;
}
section.banner i {
  font-size: 2rem;
  animation: floating 1s alternate infinite;
}

@media only screen and (min-width: 400px) {
  .sec {
    padding: 40px 0;
  }

  div.container {
    background-color: #e4b5d5;
    max-width: 85%;
    margin: 0 auto;
  }

  footer span {
    margin: 0 40px;
  }
}
@media only screen and (min-width: 1024px) {
  footer span {
    margin: 0 80px;
    text-align: start;
  }
  footer .container {
    display: flex;
  }
  footer .container .logo {
    height: 200px;
    margin: auto 0;
    max-width: 40%;
  }
  footer .container .contact {
    width: 60%;
    height: 400px;
    text-align: start;
    padding-left: 130px;
  }
  footer .container .contact i:nth-child(2) {
    margin-left: 130px;
  }
}

/*# sourceMappingURL=styles.css.map */
